@inherits LayoutComponentBase
@using OneClickJS.Data.Models;


<div class="page">

    <div class="main">
        <NavMenu />
        
        <div class="content px-8">
            @Body
        </div>
        
    </div>
    <br />
         <FooterJS/>
</div>

