@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <NavMenu />
        <div class="content px-8">
            @Body
        </div>
        
    </div>
         <FooterJS/>
</div>

