@page "/empleos/delete/{id:int}"
@using OneClickJS.Data.Models
@using OneClickJS.Data
@inject HttpClient http
@using System.Net.Http
@using System.Net.Http.Json
@inject NavigationManager NavigationManager;

<h1>¿Está seguro que desea borrar el empleo?</h1>

<button class="btn btn-success" @onclick="ConfirmDelete">Confirmar</button>
<a class="btn btn-danger" href="/empleos">Cancelar</a>


@code {
    [Parameter]
    public int id{ get; set; }
    Empleo empleo;
    protected override async Task OnInitializedAsync()
    {
        empleo = await http.GetFromJsonAsync<Empleo>($"api/Empleo/{id}");
    }
    protected async Task ConfirmDelete()
    {
        var response = await http.DeleteAsync($"api/Empleo/Delete/{id}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/empleos");
        }
    }
}