@page "/empresas/delete/{id:int}"
@using OneClickJS.Data.Models
@using OneClickJS.Data
@inject HttpClient http
@using System.Net.Http
@using System.Net.Http.Json
@inject NavigationManager NavigationManager;

<h1>¿Está seguro que desea borrar la empresa?</h1>

<button class="btn btn-success" @onclick="ConfirmDelete">Confirmar</button>
<a class="btn btn-danger" href="/empresas">Cancelar</a>

@code {
    [Parameter]
    public int id{ get; set; }
    Empresa empresa;
    protected override async Task OnInitializedAsync()
    {
        empresa = await http.GetFromJsonAsync<Empresa>($"api/Empresa/{id}");
    }
    protected async Task ConfirmDelete()
    {
        var response = await http.DeleteAsync($"api/Empresa/Delete/{id}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/empresas");
        }
    }
}