@page "/postulacion/{id:int}"
@using OneClickJS.Data.Models
@using OneClickJS.Data
@inject HttpClient http
@using System.Net.Mail
@using System.Net.Http
@using System.Net.Http.Json
@inject NavigationManager NavigationManager;
<div class="container">
    <h3>Postulacion</h3>

    <br />
   @* <button class="btn btn-primary" @onclick="SendMail">Enviar Correo</button>
    <br />
    <span>@Message</span>*@
</div>   





@code {
    [Parameter]
    public int id { get; set; }

    Empleo empleo = new Empleo();
    Categoria categoria = new Categoria();
    Empresa empresa = new Empresa();
    //private string Message { get; set; } = "";
    //private void SendMail()
    //{
    //    try
    //    {
    //        using (MailMessage mail = new MailMessage())
    //        {
    //            mail.From = new MailAddress("jeshuamomomtv@gmail.com");
    //            mail.To.Add("quijotedelamancha52@gmail.com");
    //            mail.Subject = "Sending Mail Testing on Blazor";
    //            mail.Body = "<h1>This is a test of mail body</h1>";
    //            mail.IsBodyHtml = true;

    //            using (SmtpClient smtp = new SmtpClient("smtp.gmail.com", 587))
    //            {
    //                smtp.Credentials = new System.Net.NetworkCredential("jeshuamomomtv@gmail.com", "paravotar");
    //                smtp.EnableSsl = true;
    //                smtp.Send(mail);
    //                Message = "Correo enviado";
    //            }
    //        }
    //    }
    //    catch (Exception ex)
    //    {
    //        Message = ex.Message;
    //    }
    //}

    protected override async Task OnInitializedAsync()
    {
        var response = await http.GetFromJsonAsync<Empleo>($"api/Empleo/{id}");

        if (response != null)
        {
            empleo = response;
            int idCat = empleo.IdCategoria;
            var response2 = await http.GetFromJsonAsync<Categoria>($"api/Categoria/{idCat}");
            categoria = response2;
            int idEmpr = empleo.IdEmpresa;
            var response3 = await http.GetFromJsonAsync<Empresa>($"api/Empresa/{idEmpr}");
            empresa = response3;
        }

    }
}
